{% extends 'html/base.html' %}
{% load static %}

{% block content %}

    <!--/.Navbar -->
    <!-- Blog-Section -->
    <div class="about-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>About Us</h3>
                    <figure class="figure">
                        <img src="{% static 'images/banner-image-1.jpg' %}" alt="about">
                    </figure>
                </div>
                <div class="col-sm-12">
                    <p>Welcome to my <a href="single.html">personal travel</a> blog, i love to travel the globe, i have been to so many beautiful places and met interesting people the world, this website is my mirror of life. <br> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interes Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life. </p>

                    <p>Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...e world, this website is my mirror of life. <br> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...</p>
                    <p> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people the world, this website is my mirror of life. <br> Welcome to my personal travel blog, i love to travel the globe, i have been to so many travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life.
                    </p>
                    <p>Welcome to my <a href="single.html">personal travel</a> blog, i love to travel the globe, i have been to so many beautiful...e world, this website is my mirror of life. <br> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Support section Ended -->
    <!--/.Portfolio-Section -->
    <!-- Footer -->
    {% include 'html/footer.html' %}

{% endblock %}