{% extends 'html/base.html' %}
{% load static %}

{% block content %}

    <!--/.Navbar -->
    <!-- Blog-Section -->
    <div class="about-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>About Us</h3>
                    {% for aboutus in about %}
                        <figure class="figure">
                            <img src="{{ aboutus.image.url }}" alt="about">
                        </figure>
                        <div class="col-sm-12">
                            <p>{{ aboutus.description| safe }}</p>  <!-- Added <p> for better formatting -->
                        </div>
                    {% empty %}
                        <p>No about information available.</p>  <!-- Added for better user experience -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Support section Ended -->
    <!--/.Portfolio-Section -->
    <!-- Footer -->
    {% include 'html/footer.html' %}

{% endblock %}