{% extends 'html/base.html' %}
{% load static %}
    <!--/.Navbar -->
    <!--Carousel Wrapper-->
    {% block content %}
    <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            {% for slide in carousel_items %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="d-block w-100" src="{{ slide.image.url }}" alt="{{ slide.title }}">
                <div class="gradient"></div>
                <div class="carousel-caption">
                    <h1>{{ slide.title }}</h1>
                    <p class="lead">{{ slide.description }}</p>
                    <a class="btn btn-primary" href="about.html"><span>Learn more</span></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--/.Slides-->
    
        <!--/.Controls-->
        <ol class="carousel-indicators">
            {% for slide in carousel_items %}
            <li data-target="#carousel-thumb" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}">
                <img class="d-block w-100" src="{{ slide.image.url }}" class="img-fluid">
                <span>{{ slide.title }}</span>
            </li>
            {% endfor %}
        </ol>
    </div>
    <!--/.Carousel Wrapper-->

    <!-- Page Content -->

    <section id="portfolio">
        <div class="container">
            <h2>Recently Added Photographs</h2>
            <div class="row justify-content-center">
                <div class="col-md-12 col-12">
                  {% for image in gallery %}
                    {% if forloop.first or forloop.counter|divisibleby:3 %}
                    <div class="row">
                    {% endif %}
                
                    <a href="{{ image.image.url }}" data-toggle="lightbox" data-gallery="example-gallery" class="col-xl-6 col-md-4 box-1">
                      <img src="{{ image.image.url }}" alt="{{ image.alt }}" class="img-fluid">
                      <div class="overlay">
                        <img src="{% static 'images/comment.png' %}" alt="plus-icon">
                        <div class="text">{{ image.description }} <span>{{ image.title }}</span></div>
                        <div class="count">{{ forloop.counter }}</div>
                      </div>
                    </a>
                
                    {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                    {% endif %}
                    
                  {% endfor %}
                </div>
                
              </div>
        </div>
    </section>

    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 left-side">
                    <h2>My Recent Blog Posts</h2>
                    {% for blog in blogs %}
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="figure">
                                <img src="{{ blog.image.url }}" class="figure-img img-fluid" alt="{{blog.title}}">
                                <figcaption class="figure-caption"> <img src="{% static 'images/comment.png'%}" alt=""><span>{{blog.id}}</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4><a href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a></h4>
                            <div class="btn-group">
                                {%for tag in blog.tag.all%}
                                <a href="#" class="btn btn-danger">{{tag.name}}</a>
                                {% endfor %}
                            </div>
                            <p>Posted on : {{blog.created_at|date:"F j, Y"}}</p>
                        </div>
                    </div>
                {% endfor %}
                    
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="right-side">
                                <h3>Whos Me ?</h3>
                                <figure>
                                    <img src="{{whosme.image.url}}" alt="{{whosme.title}}">
                                </figure>
                                <h5>{{whosme.description|safe}}</h5>
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                                <address>
                               <span>Phone: {{whosme.phone}}</span>
                               <span>Email : {{whosme.email}}</span>
                           </address>
                                <h2>Quick Contact</h2>
                                <form id="contact" method="post" class="form" role="form">
                                    {% csrf_token %}  <!-- Include CSRF token to protect against CSRF attacks -->
                                    
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6 form-group">
                                            {{ form.name.label_tag }}  <!-- Label for the name field -->
                                            {{ form.name }}  <!-- Render name field manually -->
                                            {{ form.name.errors }}  <!-- Display any validation errors for name field -->
                                        </div>
                                        <div class="col-xs-6 col-md-6 form-group">
                                            {{ form.email.label_tag }}  <!-- Label for the email field -->
                                            {{ form.email }}  <!-- Render email field manually -->
                                            {{ form.email.errors }}  <!-- Display any validation errors for email field -->
                                        </div>
                                    </div>
                                
                                    <div class="form-group">
                                        {{ form.message.label_tag }}  <!-- Label for the message field -->
                                        {{ form.message }}  <!-- Render message field manually -->
                                        {{ form.message.errors }}  <!-- Display any validation errors for message field -->
                                    </div>
                                    
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 form-group">
                                            <button class="btn btn-primary" type="submit">Alright Submit it</button>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bt"></div>
                <div class="col-sm-12">
                    <ul>
                        {% if blogs.has_previous %}
                            <li><a href="?page=1">&laquo; First</a></li>
                            <li><a href="?page={{ blogs.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        
                        <li><a class="active" href="#">{{ blogs.number }}</a></li>
                        
                        {% if blogs.has_next %}
                            <li><a href="?page={{ blogs.next_page_number }}">Next</a></li>
                            <li><a href="?page={{ blogs.paginator.num_pages }}">Last &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% include 'html/footer.html' %}

    {% endblock %}
